/* nav footer====== */
@media(max-width:1300px){
footer {
    padding: 0 70px;
}
}
 @media(max-width:1170px){
nav {
    padding: 0 28px;
}
footer {
    padding: 0 28px;
}
.pages {
    display: none;
}
#mnu{
    display: flex;
}
}   
@media(max-width:994px){
    footer {
    height: 200px;
    width: 100%;
    display: flex;
flex-direction: column;
justify-content: center;
gap: 25px;
    }
}
@media(max-width:671px){
    .btn{
        display: none;
    }
        footer {
        height: 396px;
    }
.futer {
    display: flex;
flex-direction: column;
}
}
@media(max-width:458px){
    #mg {
    display: none;
}
}

/* =========end nav footer======= */
/* =======about======== */
@media(max-width:1356px){
.about{
 gap: 40px;
 padding: 0 25px;
}
.pd{
 gap: 20px;

}
.player {
 padding: 0 43px;
}
@keyframes pit{
    to {
transform: translateX(0);
    }
    from{
transform: translateX(55px);
    }
}
.ai4 {
    left: -44px;
}
.cppd {
    height: 221px;
    width: 483px;
}
}
@media(max-width:1255px){
    .about{
        height: 1219px;
        flex-direction: column-reverse;
      padding: 65px 25px;
      align-items: start;
      position: relative;
    }

.ap{
    width:100% ;
}
.ah{
    width: 100%;
height: auto;
}
.pd{
    height: 1500px;
   flex-direction: column;
   align-items: start;
}
.player {
    height: 1700px;
       padding: 65px 95px;
       align-items: start;
       gap:45px;
       align-items: center;
    justify-content: center;
}
.pimg{
margin-left:0px;
}
@keyframes pit{
    to {
transform: translateX(0);
    }
    from{
transform: translateX(250px);
    }
}
.sh {
    text-align: start;
}
.oa1 {
    left: 40px;
    top: 60px;
}
.ppd {
    width: 929px;
    gap: 46px;
}
}
@media(max-width:1135px){
    .cppd {
        height: 221px;
        width: 369px;
    }
    .ppd {
        width: 769px;
        gap: 46px; 
    }
        .oa1{
        left: 40px;
        top: -16px;
    }
.pd1{
    width: 100%;
 justify-content: center;
 align-items: center;
}
}
@media(max-width:964px){
    .pimg{
margin-left:1px;
}
@keyframes pit{
    to {
transform: translateX(0);
    }
    from{
transform: translateX(55px);
    }
}
}
@media(max-width:964px){
        .about-left {
        left: 4px;
        top: -54px;
    }
        .ppd {
        width: 597px;
        gap: 46px;
    }
    .cppd {
        height: 276px;
        width: 290px;
    }
.cppd3 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.player{
    align-items: center;
    justify-content: center;
}
}
@media(max-width:799px){
        .about-left {
        left: -41px;
        top: -54px;
    }
    .ah {
    width: 512px;
    height: 113px;
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
    line-height: 55px;
}
.aimg
 {
    height: 472px;
    width: 367px;
 }
.ai {
    height: 476px;
    width: 373px;
}
.ai2 {
  height: 130px;
        width: 130px;
    bottom: 68px;
    right: 128px;
}
.ai3 {
    top: 663px;
}
.ai1
 {
    height: 130px;
        width: 130px;
        bottom: 140px;
        left: 26px;
 }
.nft12 {
    height: 514px;
    width: 100%;
    padding: 0 65px 0 25px;
}
.nft-left2 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}
.n-line {
    display: none;
}
.nft2 {
    height: 600px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 45px;
}
.nfth3 {
    font-family: font;
    font-size: var(--p);
    color: var(--t-color);
}
}

@media(max-width:705px){
.aimg
 {
            height: 385px;
        width: 293px;
 }
.ai {
    height: 375px;
        width: 294px;
}
.ai2 {
         height: 88px;
        width: 75px;
    bottom: 146px;
    right: 128px;
}
.ai3 {
    height: 88px;
        width: 75px;
    top: 622px;
}
.ai1
 {
       height: 88px;
        width: 75px;
        bottom: 140px;
        left: 94px;
 }
  .crh3 {
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
    text-align: center;
    line-height: 55px;
}
.about{
    height: 1205px;
    padding: 0 35px;
}
.about-left{
    left: -31px;
    width: 100%;
}
.ai4 {
     height: 88px;
        width: 75px;
       left: 64px;
       z-index: 3;
    }
        .player {
        height: 2116px;
        padding: 65px 65px;
    }
    .ppd {
        height: 261px;
        width: 466px;
        gap: 22px;
    }
    .pd {
        height: 1854px;
        flex-direction: column;
        align-items: start;
    }
    .pimg {
        margin-left: -89px;
    }
@keyframes pit{
    to {
transform: translateX(0);
    }
    from{
transform: translateX(55px);
    }
}
.ah {
    width: 512px;
    height: 113px;
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
    line-height: 55px;
}
.sh1 {
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
    line-height: 60px;
    text-align: center;
}

}
@media(max-width:645px){
    .ai3 {
      right: 264px;
    }
    .ai1 {
        height: 88px;
        width: 75px;
        bottom: 140px;
        left: 40px;
    }
        .sh {
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
    line-height: 60px;
    text-align: center;
}
}
@media(max-width:610px){
.aimg {
        height: 358px;
        width: 257px;
    }
    .ai {
        height: 347px;
        width: 261px;

    }
    .about-left {
        left: -10px;
    }
    
.pimg {
    height: 452px;
    width: 425px;
}
.ah
 {
        width: 430px;
        line-height: 43px;
 }
}
@media(max-width:545px){
    .ppd {
        height: 261px;
        width: 331px;
        gap: 22px;
    }
.pimg {
    height: 452px;
    width: 425px;
}
.blr3 {
    height: 550px;
   width: 286px;
}
}
@media(max-width:470px){
        .ah{
        width: 317px;
        font-size: var(--h4);
}
        .ap {
        width: 71%;
    }
    .ai1 {
        height: 88px;
        width: 75px;
        bottom: 140px;
        left: 25px;
        z-index: 2;
    }
        .ai4 {
        height: 88px;
        width: 75px;
        left: 8px;
        z-index: 3;
    }
.about-rightside
 {
width: 100%;
}
    .ai2 {
        height: 88px;
        width: 75px;
        bottom: 146px;
        right: 64px;
        
    }
        .ai3 {
        right: 198px;
      top: 525px;
    }
    .pimg {
        height: 270px;
        width: 258px;
    }
.pd {
        height: 1683px;
        flex-direction: column;
        align-items: start;
    }

    .player {
        height: 1972px;
        padding: 65px 65px;
        align-items: center;
    }
    .ppd {
             height: 302px;
        width: 251px;
        gap: 11px;
    }
.ppdp2 {
    font-size: 12px;
}
}
@media(max-width:535px){
.ah {
        font-family: font;
        font-size: var(--p);
        color: var(--t-color);
        height: auto;
        width: 242px;
    }
    .sh {
        font-family: font;
        font-size: var(--p);
        color: var(--t-color);
        line-height: 40px;
        text-align: center;
    }
    .crh3 {
        font-family: font;
        font-size: var(--p);
        color: var(--t-color);
        text-align: center;
        line-height: 40px;
    }
}
@media(max-width:370px){
    .sa1 {
    height: 68px;
    width: 234px;
    }
    .sp {
    font-family: font;
    font-size: var(--n);
    }
    .ai3
 {
        right: 72px;
        top: 481px;
    }
.ai {
        height: 347px;
        width: 225px;
    }
.ai2 {
        height: 88px;
        width: 75px;
        bottom: 146px;
        right: -36px;
    }
.ppd {
        height: 302px;
        width: 221px;
        gap: 11px;
    }
}
/* =========news========= */
@media(max-width:705px){
    .nh {
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
}
}
@media(max-width:535px){
    .nh {
    font-family: font;
    font-size: var(--p);
    color: var(--t-color);
}
.con10 {
    height: 55px;
    width: 366px;
}
.coni {
    height: 55px;
    width: 366px;
}
.newsletter {
    height: 330px;
    width: 100%;
}
}
@media(max-width:378px){
    .nh {
    font-family: font;
    font-size: var(--p);
    color: var(--t-color);
}
.con10 {
        height: 55px;
        width: 246px;
        
    }
.coni {
        height: 55px;
        width: 246px;
        padding: 0 25px;
}
.np {
    font-family: sans-serif;
    font-size: var(--n);
    color: var(--t-color);
}

}
/* ======nft======== */
@media(max-width:1356px){
.nft {
    padding: 0 91px;
}
}
@media(max-width:1300px){
    .nft {
        padding: 0 55px;
    }
    .nft-img2 {
    height: 364px;
    width: 60%;
}
}

@media(max-width:1205px){
.nft1{
gap: 1px;
}
.nft-left {
width: 40%;
}
}

@media(max-width:952px){
.nft-img {
    height: 364px;
    width: 80%;
}
.nft1{
gap: 1px;
}
}

@media(max-width:705px)
{
    .nft-img {
        height: 242px;
        width: 80%;
    }
    .nft-img2 {
        height: 242px;
        width: 44%;
    }
    .nfth {
    font-family: font;
    font-size: 16px;
    color: var(--t-color);
}
.cirf{
display: none;
}
}


@media(max-width:565px){
    .nft{
        margin-top: 65px;
    }
    .nft-img {
        height: 152px;
        width: 80%;
    }
     .nft-img2 {
        height: 152px;
        width: 47%;
    }
}
@media(max-width:535px){
        .fh {
        font-family: font;
        font-size: var(--p);
        color: var(--t-color);
    }
    .nft1 {
    height: 293px;
    }
.nft-img {
        height: 126px;
        width: 80%;
    }
@keyframes npt{
    to {
transform: translateY(-95px);
    }
    from{
transform: translateY(0);
    }
}
.nft-img2 {
        height: 126px;
        width: 47%;
    }
@keyframes npt{
    to {
transform: translateY(-155px);
    }
    from{
transform: translateY(0);
    }
}
}
@media(max-width:375px){
        .nft1 {
        height: 338px;
    }
    .btn19 {
    height: 58px;
    width: 146px;
}
.btn91 {
    height: 45px;
    width: 122px;
}
.nft12 {
        height: 514px;
        width: 100%;
        padding: 0 6px 0 25px;
    }
 
   
    .nft-img2 {
        height: 82px;
        width: 50%;
    }
}
/* ======team======== */
@media(max-width:1255px){
.cyfo {
    height: 1593px;
}
.mem {
    height: 1321px;
     padding: 95px 95px;
}
.member {
    height: 1200px;
flex-wrap: wrap;
width: 100%;
align-items: center;
justify-content: center;
gap: 108px;
}
}
@media(max-width:964px){
        .mem {
        height: 1175px;
        padding: 95px 15px;
    }
    .member {
        gap: 52px;
    }
        .cyfo {
        height: 1367px;
    }
    .cyh3 {
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
    text-align: center;
    line-height: 55px;
}
.sh {
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
    line-height: 60px;
    text-align: center;
        align-items: center;

}
.landing {
    padding: 0 23px;
}
.box-h {
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
    text-align: center;
}
}
@media(max-width:705px){

.cyfo {
        height: 1300px;
    }
.first-c {
    height: 1476px;
}
.gapc {
    height: 1526px;
}
    .cppd {
   height: 401px;
        width: 205px;
    }
.coa1 {
    height: 55px;
    width: 167px;
    padding: 0 15px;
}
.sec-line {
    height: 1036px;
}
    .sh {
        font-family: font;
        font-size: var(--p);
        color: var(--t-color);
        line-height: 40px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
        .cyh3 {
    font-family: font;
    font-size: var(--p);
    color: var(--t-color);
    text-align: center;
    line-height: 40px;
}
.cir7 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #6937FE;
    background: linear-gradient(90deg, rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
    position: absolute;
    top: 1025px;
    left: -7px;
}
.cir6 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #6937FE;
    background: linear-gradient(90deg, rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
    position: absolute;
    top: 888px;
    left: -7px;
}
.lin2 {
    height: 1px;
    width: 64px;
    background-color: rgba(255, 255, 255, 0.153);
    position: absolute;
    top: 712px;
    left: 2px;
}
.lin3 {
    height: 1px;
    width: 64px;
    background-color: rgba(255, 255, 255, 0.153);
    position: absolute;
    top: 893px;
    right: 2px;
}
.cir5 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #6937FE;
    background: linear-gradient(90deg, rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
    position: absolute;
    top: 706px;
    left: -7px;
}
.cppdp1 {
    font-family: font;
    font-size:10px;
    color: var(--t-color);
    text-align: center;
}
}
@media(max-width:663px){
   
.first-c {
        height: 1756px;
    }

    .member {
        height: 2098px;
        gap: 19px;
    }
       .cyfo {
        height: 2188px;
    }
    .cppd {
        height: 487px;
        width: 155px;
    }
        .first-c {
        height: 1833px;
    }
    .gapc {
        height: 1648px;
    }
    .coa1 {
        height: 55px;
        width: 129px;
        padding: 0 15px;
        left: 10px;
    }

.mem {
        height: 2294px;
        padding: 95px 65px;
    }
 
}
@media(max-width:535px){
    .cyh3 {
    font-family: font;
    font-size: var(--p);
    color: var(--t-color);
    text-align: center;
    line-height: 40px;
}
.sec-line {
        display: none;
    }
.cir1 {
    display: none;
}
.cir2 {
    display: none;
}
.cir3 {
    display: none;
}
.cir4 {
    display: none;
}
.cir5 {
    display: none;
}
.cir6 {
    display: none;
}
.cir7 {
    display: none;
}
.lin1{
display: none
}
.lin2{
display: none
}
.lin3{
display: none
}
.lin4{
display: none
}
.lin5{
display: none
}
.cyfo {
        height: 2076px;
    }
       .first-c {
        height: 2898px;
    }
.gapc {
    flex-direction: column;
}
    .gapc {
        height: 2802px;
        gap: 31px;
    }
    .mem {
        height: 1988px;
        padding: 95px 65px;
    }
}
@media(max-width:365px){
        .mem {
        height: 2168px;
        padding: 95px 65px;
    }
    .cyfo
 {
        height: 2179px;
    }
          .box-h {
    font-family: font;
    font-size: var(--p);
    color: var(--t-color);
    text-align: center;
}
}
/* ========brands======== */
@media(max-width:1058px){
    .pdis {
    gap: 35px;
}
}
@media(max-width:964px){
        .pdis img {
        height: auto;
        width:82px;
    }
}
@media(max-width:764px){
    .pdis {
        gap: 19px;
        flex-wrap: wrap;
    }
    .pap {
    font-family: font;
    font-size: var(--n);
    color: var(--t-color);
}
.paa1 {
    height: 38px;
    width: 404px;
}

}
@media(max-width:535px){
        .paa1 {
        height: 61px;
        width: 276px;
        text-align: center;
    }
    .partner {
    height: 304px;
}
}
@media(max-width:368px){
    .partner {
        height: 246px;
        padding: 0 25px;
    }
}
/* =========about========== */
@media(max-width:1255px){
    .aimg {
    height: 389px;
    width: 718px;
    }
.ap {
    font-family: sans-serif;
    font-size: var(--p);
    color: var(--t-color);
    line-height: 40px;
    text-align: center;
}
.about-left {
    height: 508px;
    width: 719px;
}  
}

@media(max-width:800px){
    .aimg {
        height: 281px;
        width: 463px;
        margin-top: -28px;
    }
.about{
    height: 1090px;
   }
   .ai {
        height: 88px;
        width: 373px;
    }
.about-rightside {
    height: auto;
}
.about-left {
        height: 295px;
        width: 719px;
    }
}
@media(max-width:653px){
   .about{
    height: 757px;
   }
    .about-left {
        height: 216px;
        width: 300px;
    }
    .ap {
        font-family: sans-serif;
        font-size: 12px;
         line-height: 16px;
    }
    .aimg {
        height: 182px;
        width: 360px;
       margin-top: 31px;
        margin-left: 28px;

    }
.about-rightside {
    height: auto;
}

}
@media(max-width:358px){
        .about-rightside {
        height: auto;
        margin-top: 50px;
    }
        .about {
        height: 841px;
    }
    .aimg {
    height: 120px;
        width: 231px;
        margin-top: 31px;
        margin-left: 28px;
    }
}


/* ======nft======== */
@media(max-width:1356px){
.nft {
    padding: 0 91px;
}
}
@media(max-width:1300px){
    .nft {
        padding: 0 55px;
    }
}

@media(max-width:1205px){
.nft1{
gap: 1px;
}
.nft-left {
width: 40%;
}
}

@media(max-width:952px){
.nft-img {
    height: 364px;
    width: 80%;
}
.nft1{
gap: 1px;
}
}

@media(max-width:705px)
{
   
    .nft-img {
        height: 242px;
        width: 80%;
    }
    .nfth {
    font-family: font;
    font-size: 16px;
    color: var(--t-color);
}
.cirf{
display: none;
}
}


@media(max-width:565px){
    .nft{
        margin-top: 65px;
    }
    .nft-img {
        height: 152px;
        width: 80%;
    }
}
@media(max-width:535px){
        .fh {
        font-family: font;
        font-size: var(--p);
        color: var(--t-color);
    }
    .nft1 {
    height: 293px;
    }
.nft-img {
        height: 126px;
        width: 80%;
    }
@keyframes npt{
    to {
transform: translateY(-95px);
    }
    from{
transform: translateY(0);
    }
}
}
@media(max-width:375px){
        .nft1 {
        height: 338px;
    }
    .btn19 {
    height: 58px;
    width: 146px;
}
.btn91 {
    height: 45px;
    width: 122px;
}
}