* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #070a29;
    overflow-x: hidden;
}
@font-face {
    font-family: font;
    src: url(font/Ethnocentric\ Rg.otf);
}
:root{
   --t-color: white;
    --h1:100px;
    --h2:51px;
    --h3:40px;
    --h4:30px;
    --p:18px;
    --n:14px;
}
/* ===========pages start============= */
.bar2 {
   position: fixed;
  top: 77px;
      top: 77px;
    right: 16px;
    height: 62vh;
    width:220px;
   background-color: #010429f7;
   border: 1px solid white;
   border-radius: 16px;
   display: none;     
   flex-direction: column;
   z-index: 999;       
}
.priyasa2{
    position: relative;
}
.nav{
   height: auto;
    width: 220px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    display: flex;
    position: fixed;
    align-items: end;
    justify-content:end;
      padding: 12px 22px;
}
#cross{
    font-size: 29px;
    color: white;
}
.pages22{
      height: 70vh;
    width: 220px;
    background-color: rgba(0, 0, 0, 0);
    color:blue;
display: flex;
flex-direction: column;
align-items: start;
justify-content: center;
padding: 0 25px;
gap: 30px;
}
.PP{
    font-family: sans-serif;
    font-size: 18px;
}
/* @media(max-width:450px){
    .PP{
    font-family: font;
    font-size: 18px;
}
.pages{
gap: 23px;
} }*/

#h{
text-decoration: none;
    color:white;
}
#ca{
text-decoration: none;
     color:white;
}
#n{
text-decoration: none;
    color:white;
}
#po{
text-decoration: none;
    color:white;
}
#co{
text-decoration: none;
    color:white;
}


/* =======navbar start======= */
nav{
    height:70px;
    width: 100%;
    background-color:transparent;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding:  0 95px;
    position: sticky;
    top: 0;
    z-index: 99;
}
#mnu{
color: var(--t-color);
font-size: var(--h4);
display: none;

}
.logo{
    height: 38px;
    width: 130px;
    background-image: url(img/download.png);
}
.pages{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: var(--t-color);
}
.p1{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.p1:hover{
  color: #1e00fd;
  cursor: pointer;
}
.p2{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.p2:hover{
  color: #1e00fd;
  cursor: pointer;
}
.p3{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.p3:hover{
  color: #1e00fd;
  cursor: pointer;
}
.p4{
    font-size: var(--n);
    font-family: font;
    color: blue;
}
.p4:hover{
  color: #1e00fd;
  cursor: pointer;
}
.p5{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.p5:hover{
  color: #1e00fd;
  cursor: pointer;
}
.p6{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.p6:hover{
  color: #1e00fd;
  cursor: pointer;
}
.rs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
#mg{
    font-size: 22px;
    color: var(--t-color);
}
.btn{
        height: 51px;
    width: 140px;
    background-color: transparent;
    border: 0.2px solid rgba(255, 255, 255, 0.247);
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.btn1{
    height: 38px;
    width: 130px;
    background: #6346e8;
background: linear-gradient(90deg,rgba(99, 70, 232, 1) 15%, rgba(132, 32, 214, 1) 64%, rgba(172, 126, 237, 1) 100%);
color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 9px;
border: none;
font-family: font;
font-size: var(--n);
}
.wwe{
     height: 130px;
    width: 200px;
    background-color: white;
    color: gray;
    display: none;
    flex-direction: column;
    border-radius: 9px;
    position: absolute;
    top: 50px;
    padding: 5px 0;
    
}

.w1{
    height: 45px;
    width: 100%;
    display: flex;
justify-content: start;
align-items: center;
border-bottom: 2px solid rgba(128, 128, 128, 0.381);
padding: 0 25px;

}
.wp{
    font-size: var(--n);
    font-family: font;
    color: rgb(1, 1, 1);
}

    .w1:hover{
border-bottom: 2px solid blue;
 
 .wp{
    font-size: var(--n);
    font-family: font;
 color: #1e00fd;
}
}
#priyasa {
    position: relative;
}
/*======== navbar end========== */
/* ============landing page start=========== */


.landing{
    height: 350px;
    width: 100%;
    background-image: url(img/bg-banner.e72e3f48954cea4f1547.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 155px;
    position: relative;
}



.lb{
      height: 350px;
    width: 950px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.132);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 118px;
    padding: 0 35px;
}
.box-lan{
    height: 280px;
    width: 100%;
    background: #6937FE;
background: linear-gradient(90deg,rgba(105, 55, 254, 1) 15%, rgba(197, 168, 255, 1) 100%);
color: var(--t-color);
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 25px;
border-radius: 35px;
}
.box-h{
    font-family: font;
    font-size: var(--h4);
    color: var(--t-color);
}
.pgs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.hm{
    font-family: sans-serif;
    color: rgb(174, 174, 174);
    font-size: var(--n);
}
.ex{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: var(--n);
}
.tm{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: var(--n);
}
.ui{
    text-decoration: none;
}
.li{
    height: 1px;
    width: 90px;
    background-color: rgba(233, 233, 233, 0.468);
}
.ip{
    font-family: sans-serif;
    font-size: var(--n);
    color: gainsboro;
}


/* =======landing page end============== */

/* ============The Journey of Cyfonii NFT======= */
.cyfo{
    height: 2750px;
    width: 100%;
    background-image: url(img/line.3a6a07c6db5f75eeb158.png);
background-size: cover;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 35px 65px;
gap: 69px;
overflow: hidden;
}
.cyp1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.cypp1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
}
.cca1{
    height: 38px;
    width: 170px;
    border-radius: 25px;
    border: 0.1px solid rgba(255, 255, 255, 0.14) ;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sp{
    font-family: font;
    font-size: var(--p);
    background: #6937FE;
background: linear-gradient(to right, #6937FE 4%, #9D78FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.crh3{
    font-family: font;
    font-size: var(--h3);
    color: var(--t-color);
    text-align: center;
    line-height: 55px;
}
.first-c{
    height:1100px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 35px; */
    padding: 0 95px;
    
}

.gapc{
    height: 1000px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 65px;
}
.cop{
    display: flex;
    flex-direction: column;
    position: relative;
}
.sec-line{
height: 830px;
width: 1px;
background-color: rgba(255, 255, 255, 0.153);
}
.cir1{
    height: 15px;
    width: 15px;
    border-radius: 50%;
     background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
position: absolute;
    top: -4px;
    left: -7px;
}
.lin1{
       height: 1px;
    width: 64px;
    background-color: rgba(255, 255, 255, 0.153);
    position: absolute;
    top: 280px;
    left: 2px;
}
.lin2{
         height: 1px;
    width: 64px;
    background-color: rgba(255, 255, 255, 0.153);
    position: absolute;
    top: 527px;
    left: 2px;
}
.lin3{
         height: 1px;
    width: 64px;
    background-color: rgba(255, 255, 255, 0.153);
    position: absolute;
    top: 661px;
    right: 2px;
}
.lin4{
         height: 1px;
    width: 64px;
    background-color: rgba(255, 255, 255, 0.153);
    position: absolute;
    top: 407px;
    right: 2px;
}
.lin5{
         height: 1px;
    width: 64px;
    background-color: rgba(255, 255, 255, 0.153);
    position: absolute;
    top:157px;
    right: 2px;
}
.cir2{
    height: 15px;
    width: 15px;
    border-radius: 50%;
     background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
position: absolute;
    top: 150px;
  left: -7px;
}
.cir3{
    height: 15px;
    width: 15px;
    border-radius: 50%;
     background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
position: absolute;
    top:274px;
     left: -7px;
}
.cir4{
    height: 15px;
    width: 15px;
    border-radius: 50%;
     background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
position: absolute;
    top: 399px;
 left: -7px;
}
.cir5{
    height: 15px;
    width: 15px;
    border-radius: 50%;
     background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
position: absolute;
    top: 521px;
    left: -7px;
}
.cir6{
    height: 15px;
    width: 15px;
    border-radius: 50%;
     background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
position: absolute;
    top: 653px;
     left: -7px;
}
.cir7{
    height: 15px;
    width: 15px;
    border-radius: 50%;
     background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
position: absolute;
    top: 818px;
     left: -7px;
}


.first-line{
    height: auto;
    width: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.first-line2{
      height: auto;
    width: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 60px;

}
.btn3{
        height: 63px;
    width: 250px;
    background-color: transparent;
    border: 0.2px solid rgba(255, 255, 255, 0.247);
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.btn2{
    height: 53px;
    width: 240px;
    background: #6346e8;
background: linear-gradient(90deg,rgba(99, 70, 232, 1) 15%, rgba(132, 32, 214, 1) 64%, rgba(172, 126, 237, 1) 100%);
color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 12px;
border: none;
font-family: font;
font-size: var(--n);
}

.cppd{
    height: 188px;
    width: 550px;
   background: #ffffff;
background: linear-gradient(97deg,rgba(255, 255, 255, 0.162) 0%, rgba(252, 252, 252, 0.032) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 25px;
    border-radius: 25px;
    position: relative;
    border: 0.3px solid rgba(255, 255, 255, 0.192);
}
.coa1{
    height: 38px;
    width: 230px;
    border-radius: 25px;
    border: 0.1px solid rgba(255, 255, 255, 0.14) ;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 18px;
    top: -23px;
}
.clin{
    height: 4px;
    width: 80px;
    background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
}
.cpp{
    font-family: font;
    font-size: var(--n);
    background: #6937FE;
background: linear-gradient(to right, #6937FE 4%, #9D78FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.cppd3{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.cppdp1{
    font-family: font;
    font-size: var(--p);
    color: var(--t-color);
}
.cppdp2{
    font-family: sans-serif;
    font-size: var(--n);
    color: var(--t-color);
    line-height: 25px;
}

/* ==========OUR COLLECTION========= */
.collection{
    height: 1150px;
    width: 100%;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 47px;
    border: none;
overflow: hidden;
position: relative;
}
.ca1{
    height: 38px;
    width: 250px;
    border-radius: 25px;
    border: 0.1px solid rgba(255, 255, 255, 0.14) ;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sp{
    font-family: font;
    font-size: var(--p);
    background: #6937FE;
background: linear-gradient(to right, #6937FE 4%, #9D78FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.rh3{
    font-family: font;
    font-size: var(--h3);
    color: var(--t-color);
}
.cld{
    width: 100%;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}
.pic-box{
    height: 388px;
    width: 350px;
    background-color: rgba(255, 255, 255, 0.108);
    border: 0.3px solid rgba(252, 252, 252, 0.288);
border-radius: 25px;
display: flex;
align-items: center;
justify-content: center;

}
.pic-box1{
    height: 350px;
    width: 300px;
    background-color: rgba(244, 9, 9, 0.108);
    border: 0.3px solid rgba(252, 252, 252, 0.288);
border-radius: 25px;
display: flex;
align-items: center;
justify-content: center;
overflow: hidden;
}

.pic1{
      height: 350px;
    width: 300px;
    border-radius: 25px;
    background-image: url(img/item-01.110dde25a4fd216c95af.png);
background-position: center;
background-size: cover;
padding: 0 35px;
position: relative;
}
.pic1:hover{
  transform: scale(1.1);
        transition: 0.3s ease;
}
.pic2{
     height: 350px;
    width: 300px;
    border-radius: 25px;
    background-image: url(img/item-02.df15a6ee478fd5879404.png);
background-position: center;
background-size: cover;
padding: 0 35px;
position: relative;
}
.pic2:hover{
  transform: scale(1.1);
        transition: 0.3s ease;
}
.pic3{
       height: 350px;
    width: 300px;
    border-radius: 25px;
    background-image: url(img/item-03.f2621db4030b982080f1.png);
background-position: center;
background-size: cover;
padding: 0 35px;
position: relative;
}
.pic3:hover{
  transform: scale(1.1);
        transition: 0.3s ease;
}
.pic4{
        height: 350px;
    width: 300px;
    border-radius: 25px;
    background-image: url(img/item-04.2ba1c00dcb4e4686a24a.png);
background-position: center;
background-size: cover;
padding: 0 35px;
position: relative;
}
.pic4:hover{
  transform: scale(1.1);
        transition: 0.3s ease;
}
.pic5{
          height: 350px;
    width: 300px;
    border-radius: 25px;
    background-image: url(img/item-05.a9739045efd748aca967.png);
background-position: center;
background-size: cover;
padding: 0 35px;
position: relative;
}
.pic5:hover{
  transform: scale(1.1);
        transition: 0.3s ease;
}
.pic6{
      height: 350px;
    width: 300px;
    border-radius: 25px;
    background-image: url(img/item-06.05a429c0f09d8f31191d.png);
background-position: center;
background-size: cover;
padding: 0 35px;
position: relative;
}
.pic6:hover{
  transform: scale(1.1);
        transition: 0.3s ease;
}
.pic7{
       height: 350px;
    width: 300px;
    border-radius: 25px;
    background-image: url(img/item-07.2421e4d1804f9951bfb1.png);
background-position: center;
background-size: cover;
padding: 0 35px;
position: relative;
}
.pic7:hover{
  transform: scale(1.1);
        transition: 0.3s ease;
}
.pic8{
      height: 350px;
    width: 300px;
    border-radius: 25px;
    background-image: url(img/item-08.d48709c063b0d37d4c7f.png);
background-position: center;
background-size: cover;
padding: 0 35px;
position: relative;
}
.pic8:hover{
  transform: scale(1.1);
        transition: 0.3s ease;
}
.pic-blur1{
height: 45px;
width: 280px;
background-color: rgba(255, 255, 255, 0.205);
position: absolute;
left: 9px;
bottom: 28px;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
}
.dp{
    font-family: font;
    color: var(--t-color);
    font-size:16px;
}
.dp:hover{
    font-family: font;
    color: blue;
    font-size:16px;
}
/* =======OUR COLLECTION============ */

/* ========Frequently Aksed Questions=========== */
.faq{
    height: 800px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 25px;
    border: none;
padding: 0 95px;
position: relative;
}
.faq1{
       height: 743px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 25px;
    border: none;
position: relative;
}
.fa1{
    height: 38px;
    width: 90px;
    border-radius: 25px;
    border: 0.1px solid rgba(255, 255, 255, 0.14) ;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sp{
    font-family: font;
    font-size: var(--p);
    background: #6937FE;
background: linear-gradient(to right, #6937FE 4%, #9D78FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.fh{
width: 99%;
    font-family: font;
    font-size: var(--h3);
    color: var(--t-color);
    line-height: 65px;
    display: flex;
    flex-wrap: wrap;
}
.fp{
    font-family: sans-serif;
    font-size: var(--n);
    color: var(--t-color);
    line-height: 35px;
    text-align: start;
}
.fl{
    height: 105px;
    width: 71%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}
.kh{
    height: 38px;
    width: 210px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.244);
    border: 1px solid rgba(255, 255, 255, 0.321);
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.kh:focus{
   background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
border: none;
cursor: pointer;
}
.kh1{
    height: 38px;
    width: 150px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.244);
    border: 1px solid rgba(255, 255, 255, 0.321);
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.kh1:focus{
   background: #6937FE;
background: linear-gradient(90deg,rgb(75, 19, 243) 15%, rgba(197, 168, 255, 1) 100%);
border: none;
cursor: pointer;
}
.l1{
    height: 1px;
    width: 85%;
    background-color: rgba(255, 255, 255, 0.475);
    display: none;
    
}
.left-f{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 65px;
}

.right-f{
        height: 639px;
    width: 817px;
    /* min-width: 817px; */
    background-image: url(img/img-faq.2d7d05643a82bc49c9d5.png);
    background-position: center;
    background-size: cover;

    animation: ppt 6s infinite alternate;
}
@keyframes ppt{
    to {
transform: translateY(0px);
    }
    from{
transform: translateY(30px);
    }
}

.f11{
    height: 45px;
    width: 550px;
    background-color: rgba(255, 255, 255, 0.119);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.f11p{
    font-family: font;
    font-size: var(--n);
    color: var(--t-color);
}
#pls{
    font-size: var(--p);
    color: var(--t-color);
}
.rffr{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 0 6px;
}

/* ========Frequently Aksed Questions========== */

/* ===============newsletter start========== */
.newsletter{
    height: 300px;
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
    z-index: 12;
}
.cirf{
height: 468px;
    width: 500px;
    border-radius: 50%;
    border: none;
    background-color: #02226f;
    filter: blur(150px);
    position: absolute;
    left: -29px;
    bottom: -111px;
    z-index: 1;
}
.btn20{
        height: 58px;
    width: 180px;
    background-color: transparent;
    border: 0.2px solid rgba(255, 255, 255, 0.247);
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}
.btn10{
    height: 45px;
    width: 170px;
    background: #6346e8;
background: linear-gradient(90deg,rgba(99, 70, 232, 1) 15%, rgba(132, 32, 214, 1) 64%, rgba(172, 126, 237, 1) 100%);
color: white;
display: flex;
align-items: center;
justify-content: center;
border-radius: 9px;
border: none;
font-family: font;
font-size: var(--n);
}
.nh{
    font-family: font;
    font-size: var(--h3);
    color: var(--t-color);
}
.np{
    font-family: sans-serif;
    font-size: var(--p);
    color: var(--t-color);
}
.con10{
    height: 55px;
    width: 500px;
    background-color: rgba(255, 255, 255, 0);
border: 0.1px solid rgba(255, 255, 255, 0.36);
border-radius: 15px;
display: flex;
align-items: center;
justify-content: center;
}
.coni{
     height: 55px;
    width: 500px;
    background-color: transparent;
    border: none;
    border-radius: 15px;
color: white;
font-size: 15px;
outline: none;
padding: 0 25px;
}
.coni:focus{
     height: 55px;
    width: 500px;
    background-color: transparent;
    border: 0.1px solid blue;
    border-radius: 15px;
color: white;
font-size: 15px;
outline: none;
padding: 0 25px;
}
/* =============newsletters end============= */
/* =========footer start============= */

footer{
    height:70px;
    width: 100%;
    background-color:transparent;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding:  0 150px;
z-index: 12;
}

.flogo{
    height: 38px;
    width: 130px;
    background-image: url(img/download.png);
}
.futer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: var(--t-color);
}
.f1{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.f1:hover{
  color: #1e00fd;
  cursor: pointer;
}
.f2{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.f2:hover{
  color: #1e00fd;
  cursor: pointer;
}
.f3{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.f3:hover{
  color: #1e00fd;
  cursor: pointer;
}
.f4{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.f4:hover{
  color: #1e00fd;
  cursor: pointer;
}
.f5{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.f5:hover{
  color: #1e00fd;
  cursor: pointer;
}
.f6{
    font-size: var(--n);
    font-family: font;
    color: var(--t-color);
}
.f6:hover{
  color: #1e00fd;
  cursor: pointer;
}
.f-icons{
    display: flex;
    gap: 15px;
}
.rounf{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.144);
color: white;
display: flex;
align-items: center;
justify-content: center;
}
.rounf:hover{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #6346e8;
background: linear-gradient(90deg,rgba(99, 70, 232, 1) 15%, rgba(132, 32, 214, 1) 64%, rgba(172, 126, 237, 1) 100%);
color: white;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
#if{
    font-size: var(--n);
    color: var(--t-color);
}
/* ========footer end============= */